.footer {
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-color);
  color: var(--text-secondary);
  margin-top: auto; /* Chave para o sticky footer */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: var(--primary-color);
}

.copyright {
  font-size: 0.9rem;

}

@media screen and (max-width: 480px) {
  .links a {
  font-size:small;
}
}